<footer class="app-footer">
    <span><a href="#">EKS-Solutions ERP</a> © 2022</span>
    <span class="ml-auto">Desarollado de<a href="#"> J.U.L.G</a></span>
    {% block extrafooter %}
    {% endblock %}
</footer>
