{% load static %}
<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}"><i class="icon-speedometer"></i> Dashboard</a>
            </li>
            <!-- Administration Section Start -->
            <li class="nav-item nav-dropdown">
             <a class="nav-link nav-dropdown-toggle" href="#">
                 <i class="nav-icon icon-puzzle"></i>Administración</a>
             <ul class="nav-dropdown-items">
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'designacion' %}">
                         <i class="fa fa-plus-circle"></i>Agregar designación</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'zona' %}">
                         <i class="fa fa-plus-circle"></i>Agregar Zona</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'locacion' %}">
                         <i class="fa fa-plus-circle"></i>Agregar Locacion</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'anexo' %}">
                         <i class="fa fa-plus-circle"></i>Agregar Anexo-Región</a>
                 </li>
             </ul>
           </li>
           <!-- Administration Section END -->

           <!-- Academic Section START -->
           <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-puzzle"></i>Proceso</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'add-department' %}">
                      <i class="fa fa-plus-circle"></i>Agregar Departmento</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'create-proyecto' %}">
                      <i class="fa fa-plus-circle"></i>Crear Proyecto</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'create-seccion' %}">
                      <i class="fa fa-plus-circle"></i>Crear sección</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'create-sesion' %}">
                      <i class="fa fa-plus-circle"></i>Crear sesión</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'create-cambio' %}">
                      <i class="fa fa-plus-circle"></i>Crear Cambio/Turno</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'guide-gerente' %}">
                      <i class="fa fa-plus-circle"></i>Guiá del gerente</a>
              </li>
            </ul>
          </li>
        
           <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-puzzle"></i>Gerente</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'gerente-registration' %}">
                        <i class="fa fa-plus-circle"></i>Registro de Gerentes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'gerente-list' %}">
                        <i class="fa fa-list"></i>Lista de Gerentes</a>
                </li>
            </ul>
          </li>
          <!-- Teacher Section END -->

            <!-- Class Section START -->
            <li class="nav-item nav-dropdown">
             <a class="nav-link nav-dropdown-toggle" href="#">
                 <i class="nav-icon icon-puzzle"></i>Proyectos</a>
             <ul class="nav-dropdown-items">
               <li class="nav-item">
                   <a class="nav-link" href="{% url 'proyecto-registration' %}">
                       <i class="fa fa-plus-circle"></i>Registro de Proyecto</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" href="{% url 'proyecto-list' %}">
                       <i class="fa fa-list"></i>Lista de proyectos</a>
               </li>
             </ul>
           </li>
           <!-- Class Section END -->

            <!-- Student Section START -->
            <li class="nav-item nav-dropdown">
             <a class="nav-link nav-dropdown-toggle" href="#">
                 <i class="nav-icon icon-puzzle"></i>Consultor</a>
             <ul class="nav-dropdown-items">
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'consultor-registration' %}">
                         <i class="fa fa-plus-circle"></i>Registro de consultores</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'consultor-list' %}">
                         <i class="fa fa-list"></i>Lista de consultores</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'consultor-search' %}">
                         <i class="fa fa-search-plus"></i>Búsqueda de consultores</a>
                 </li>
             </ul>
           </li>
           <!-- Student Section END -->

           <!-- Enroll Student Section START -->
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-puzzle"></i>Inscribir consultor</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'enrolled-consultor' %}">
                        <i class="fa fa-plus-circle"></i>Consultor Inscrito</a>
                    <a class="nav-link" href="{% url 'enrolled-consultor-list' %}">
                        <i class="fa fa-list"></i>Lista de consultores inscritos</a>
                </li>
            </ul>
          </li>
          <!-- Enroll Student Section END -->

           <!-- Employee Section START -->
           <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-puzzle"></i>Empleado</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'empleado-registration' %}">
                        <i class="fa fa-plus-circle"></i>Agregar Empleado</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'empleado-list' %}">
                        <i class="fa fa-list"></i>Lista de Empleados</a>
                </li>
            </ul>
          </li>
          <!-- Employee Section END -->

          <!-- Result Section START -->
          <li class="nav-item nav-dropdown">
           <a class="nav-link nav-dropdown-toggle" href="#">
               <i class="nav-icon icon-puzzle"></i>Resultados</a>
           <ul class="nav-dropdown-items">
               <li class="nav-item">
                   <a class="nav-link" href="{% url 'add-asunto' %}">
                       <i class="fa fa-plus-circle"></i>Agregar asunto</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" href="{% url 'asunto-list' %}">
                       <i class="fa fa-list"></i>Lista de asuntos</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" href="{% url 'mark-entrada' %}">
                       <i class="fa fa-plus-circle"></i>marcas de entrada</a>
               </li>
           </ul>
         </li>
         <!-- Result Section END -->

         <!-- Attendence Report Section START -->
         <li class="nav-item nav-dropdown">
          <a class="nav-link nav-dropdown-toggle" href="#">
              <i class="nav-icon icon-puzzle"></i>Reporte de asistencia</a>
          <ul class="nav-dropdown-items">
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'consultor-attendance' %}">
                      <i class="fa fa-plus-circle"></i>Asistencia de consultores</a>
              </li>
          </ul>
        </li>
        <!-- Attendence Report Section END -->

       <!-- Holiday Section START -->
       <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
            <i class="nav-icon icon-puzzle"></i>Vacaciones</a>
        <ul class="nav-dropdown-items">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="nav-icon icon-puzzle"></i>Lista de Consultores</a>
            </li>
        </ul>
      </li>
      <!-- Holiday Section END -->

        <!-- Event Section START -->
        <li class="nav-item nav-dropdown">
         <a class="nav-link nav-dropdown-toggle" href="#">
             <i class="nav-icon icon-puzzle"></i>Eventos</a>
         <ul class="nav-dropdown-items">
             <li class="nav-item">
                 <a class="nav-link" href="#">
                     <i class="nav-icon icon-puzzle"></i>Lista de consultores</a>
             </li>
         </ul>
       </li>
       <!-- Event Section END -->

        <!-- User-Manual Section START -->
        <li class="nav-item nav-dropdown">
         <a class="nav-link" href="#">
             <i class="nav-icon icon-puzzle"></i>Manual de Usuario</a>
       </li>
       <!-- User-Manual Section END -->
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>

    {% block sidebar %}
    {% endblock %}
</div>
