{% extends 'base/base.html' %}
{% load static %}

{% block content %}
  <div class="card">
    <div class="card-header">
      Formulario de Registro de Anexo (Región)
    </div>
    <div class="card-body">
      <form class="" action="" method="post" id="StudentRegistrationForm" data-upazilla-url={% url 'cargar-locacion' %}>
        {% csrf_token %}
        {{ forms.as_p }}
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="{% static 'src/js/registration.js' %}"></script>
      <script src="{% static 'src/js/address.js' %}"></script>
    </div>
  </div>

  <div class="card">
      <div class="card-header">
          <i class="fa fa-align-justify"></i>Lista Anexo</div>
      <div class="card-body">
          <table class="table table-responsive-sm">
              <thead>
                  <tr>
                      <th>Id</th>
                      <th>Nombre de Anexo (region)</th>
                      <th>Fecha de registro</th>
                  </tr>
              </thead>
              <tbody>
                  {% for anexo in anexo %}
                    <tr>
                        <td>{{ anexo.id }}</td>
                        <td>{{ anexo.nombre }}</td>
                        <td>{{ anexo.date }}</td>
                    </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
{% endblock %}
