{% extends 'base/base.html' %}
{% block content %}
  <div class="card">
      <div class="card-header">
          <i class="fa fa-align-justify"></i>Lista de Proyectos</div>
      <div class="card-body">
          <table class="table table-responsive-sm">
              <thead>
                  <tr>
                      <th>Id</th>
                      <th>Nombre del Proyecto</th>
                      <th>Seccion</th>
                      <th>Sesion</th>
                      <th>Cambio</th>
                      <th>Departmento</th>
                      <th>Guia del Gerente</th>
                      <th>Comportamiento/acciones</th>
                  </tr>
              </thead>
              <tbody>
                  {% for cls in registro_proyecto %}
                    <tr>
                        <td>{{ cls.id }}</td>
                        <td>{{ cls.nombre_proyecto }}</td>
                        <td>{{ cls.seccion }}</td>
                        <td>{{ cls.sesion }}</td>
                        <td>{{ cls.cambio }}</td>
                        <td>{{ cls.department }}</td>
                        <td>{{ cls.guia_gerente }}</td>
                        <td>
                          <a class="btn btn-success" href="{% url 'consultor-registration' cls.id %}">
                              <i class="fa fa-search-plus"></i>
                          </a>
                          <a class="btn btn-info" href="{% url 'consultor-list' cls.id %}">
                              <i class="fa fa-eye"></i>
                          </a>
                        </td>
                    </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
{% endblock %}
