{% extends 'base/base.html' %}
{% load static %}
{% block content %}
  <div class="card">
    <div class="card-header">
      <div class="row">
        <img style="height:200px; width:200px; border-radius:50%; margin:auto" src="{{ consultor.personal_info.photo.url }}" alt="Photo">
      </div>
    </div>
    <div class="card-body">
      <div class="address_information">
        <div class="row">
          <h2 class="mx-auto">Información Académica</h2>
        </div>
        <hr>
        <div class="row">
          <div style="font-size:24px; margin-left: 30px">
            <pre>Proyecto  : {{ consultor.informacion_proyecto }}</pre>
            <pre>No Reg: {{ consultor.numero_registro }}</pre>
          </div>
        </div>
      </div>

      <div class="personal_information">
        <div class="row">
          <h2 class="mx-auto">Informacion personal</h2>
        </div>
        <hr>
        <div class="row">
          <div style="font-size:24px; margin-left: 30px">
                <pre>Nombre              : {{ consultor.personal_info.nombre }}</pre>
                <pre>Grupo sanguíneo     : {{ consultor.personal_info.grupo_sanguineo }}</pre>
                <pre>Fecha de nacimiento : {{ consultor.personal_info.fecha_de_nacimiento }}</pre>
                <pre>Género              : {{ consultor.personal_info.genero }}</pre>
                <pre>Número de telefono  : {{ consultor.personal_info.numero_telefono }}</pre>
                <pre>Email               : {{ consultor.personal_info.email }}</pre>
              <pre>Acta de nacimiento No : {{ consultor.personal_info.certificado_de_nacimiento_no }}</pre>
              <pre>Religion              : {{ consultor.personal_info.religion }}</pre>
              <pre>Nacionalidad          : {{ consultor.personal_info.nacionalidad }}</pre>
          </div>
        </div>
      </div>

      <div class="address_information">
        <div class="row">
          <h2 class="mx-auto">Datos del Domicilio</h2>
        </div>
        <hr>
        <div class="row">
          <div style="font-size:24px; margin-left: 30px">
            <pre>District: {{ consultor.direccion_info.zona }}</pre>
            <pre>Upazilla: {{ consultor.direccion_info.locacion }}</pre>
            <pre>Union   : {{ consultor.direccion_info.anexo }}</pre>
            <pre>Village : {{ consultor.direccion_info.cp }}</pre>
          </div>
        </div>
      </div>

      <div class="address_information">
        <div class="row">
          <h2 class="mx-auto">Información del supervisor</h2>
        </div>
        <hr>
        <div class="row">
          <div style="font-size:24px; margin-left: 30px">
            <pre>Nombre padre                 : {{ consultor.defensa_info.nombre_padre }}</pre>
            <pre>Número del padre             : {{ consultor.defensa_info.numero_telefono_padre }}</pre>
            <pre>Ocupación del padre          : {{ consultor.defensa_info.ocupacion_padre }}</pre>
            <pre>Ingresos Anuales del padre   : {{ consultor.defensa_info.ingresos_anuales_del_padre }}</pre>
            <pre>Nombre madre                 : {{ consultor.defensa_info.nombre_madre }}</pre>
            <pre>Número telefono madre        : {{ consultor.defensa_info.numero_telefono_madre }}</pre>
            <pre>Ocupacion madre              : {{ consultor.defensa_info.ocupacion_madre }}</pre>
            <pre>Nombre supervisor            : {{ consultor.defensa_info.nombre_supervisor }}</pre>
            <pre>Número telefono_supervisor   : {{ consultor.defensa_info.numero_telefono_supervisor }}</pre>
            <pre>Email supervisor             : {{ consultor.defensa_info.email_supervisor }}</pre>
            <pre>Relacion con consultor       : {{ consultor.defensa_info.relacion_con_consultor }}</pre>
          </div>
        </div>
      </div>

      <div class="emergency_contact_information">
        <div class="row">
          <h2 class="mx-auto">Información de Contacto en caso de Emergencia</h2>
        </div>
        <hr>
        <div class="row">
          <div style="font-size:24px; margin-left: 30px">
            <pre>Nombre                     : {{ consultor.contacto_emergencia_info.nombre_del_defensa_de_emergencia }}</pre>
            <pre>Dirección                  : {{ consultor.contacto_emergencia_info.direccion }}</pre>
            <pre>Relación con el Consultor  : {{ consultor.contacto_emergencia_info.relacion_con_consultor }}</pre>
            <pre>Número telefono            : {{ consultor.contacto_emergencia_info.numero_telefono }}</pre>
            <pre>Email                      : {{ consultor.contacto_emergencia_info.email }}</pre>
          </div>
        </div>
      </div>

      <div class="emergency_contact_information">
        <div class="row">
          <h2 class="mx-auto">Información Académica Previa</h2>
        </div>
        <hr>
        <div class="row">
          <div style="font-size:24px; margin-left: 30px">
            <pre>Nombre Instituto: {{ consultor.informacion_academica_previa_info.nombre_instituto }}</pre>
            <pre>Nombre Evaluacion  : {{ consultor.informacion_academica_previa_info.nombre_evaluacion }}</pre>
            <pre>Grupo              : {{ consultor.informacion_academica_previa_info.grupo }}</pre>
            <pre>Gpa                : {{ consultor.informacion_academica_previa_info.gpa }}</pre>
            <pre>Tabla de roles     : {{ consultor.informacion_academica_previa_info.tabla_roles }}</pre>
            <pre>Año Acutal         : {{ consultor.informacion_academica_previa_info.anio_actual }}</pre>
          </div>
        </div>
      </div>

      <div class="previous_academic_information">
        <div class="row">
          <h2 class="mx-auto">Documentos necesarios</h2>
        </div>
        <hr>
        <div class="row">
          <div style="font-size:24px; margin-left: 30px">
            <pre>Certificado de nacimiento  : {{ consultor.certificado_academico_previo_info.certificado_nacimiento }}</pre>
            <pre>Carta de Liberación        : {{ consultor.certificado_academico_previo_info.carta_de_libercion }}</pre>
            <pre>Titulo profesional         : {{ consultor.certificado_academico_previo_info.titulo_profesional }}</pre>
            <pre>Kardex                     : {{ consultor.certificado_academico_previo_info.kardex }}</pre>
            <pre>Curriculum Vitae           : {{ consultor.certificado_academico_previo_info.curriculum_vitae }}</pre>
            <pre>Otros certificados         : {{ consultor.certificado_academico_previo_info.otros_certificados }}</pre>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
