{% extends 'base/base.html' %}
{% load static %}
{% block content %}
  <div class="card">
    <div class="card-header">Formulario para Registrar Consultor.</div>
    <div class="card-body">
      <form class="" action="" method="post" enctype="multipart/form-data" id="StudentRegistrationForm" data-locacion-url={% url 'cargar-locacion' %}>
        <div class="academic_info">
          <div class="card">
            <div class="card-header">Información Academica</div>
            <div class="card-body">
              {% csrf_token %}
              {{ formulario_info_academica.as_p }}
            </div>
          </div>
          <button id="academic_info_btn" type="button" class="btn btn-primary pull-right">Siguiente</button>
        </div>

        <div class="personal_info">
          <div class="card">
            <div class="card-header">Información Personal</div>
            <div class="card-body">
              {% csrf_token %}
              {{ formulario_info_personal.as_p }}
            </div>
          </div>
          <button id="personal_info_prev_btn" type="button" class="btn btn-primary pull-left">Previo</button>
          <button id="personal_info_btn" type="button" class="btn btn-primary pull-right">Siguiente</button>
        </div>

        <div class="address_info">
          <div class="card">
            <div class="card-header">Datos del Domicilio</div>
            <div class="card-body">
              {% csrf_token %}
              {{ formulario_info_direccion_consultor.as_p }}
            </div>
          </div>
          <button id="address_info_prev_btn" type="button" class="btn btn-primary pull-left">Previo</button>
          <button id="address_info_btn" type="button" class="btn btn-primary pull-right">Siguiente</button>
        </div>

        <div class="guardian_info">
          <div class="card">
            <div class="card-header">Información del Supervisor</div>
            <div class="card-body">
              {% csrf_token %}
              {{ formulario_inf_defensa.as_p }}
            </div>
          </div>
          <button id="guardian_info_prev_btn" type="button" class="btn btn-primary pull-left">Previo</button>
          <button id="guardian_info_btn" type="button" class="btn btn-primary pull-right">Siguiente</button>
        </div>

        <div class="emergency_contact_info">
          <div class="card">
            <div class="card-header">En caso de detalles de contacto de emergencia</div>
            <div class="card-body">
              {% csrf_token %}
              {{ formulario_de_detalles_de_contacto_de_emergencia.as_p }}
            </div>
          </div>
          <button id="emergency_contact_info_prev_btn" type="button" class="btn btn-primary pull-left">Previo</button>
          <button id="emergency_contact_info_btn" type="button" class="btn btn-primary pull-right">Siguiente</button>
        </div>

        <div class="previous_academic_info">
          <div class="card">
            <div class="card-header">Información Académica Previa</div>
            <div class="card-body">
              {% csrf_token %}
              {{ formulario_de_informacion_academica_anterior.as_p }}
            </div>
          </div>
          <button id="previous_academic_info_prev_btn" type="button" class="btn btn-primary pull-left">Previo</button>
          <button id="previous_academic_info_btn" type="button" class="btn btn-primary pull-right">Siguiente</button>
        </div>

        <div class="previous_academic_certificate">
          <div class="card">
            <div class="card-header">Certificado Académico Previo</div>
            <div class="card-body">
              {% csrf_token %}
              {{ formulario_de_certificado_academico_anterior.as_p }}
            </div>
          </div>
          <button id="previous_academic_certificate_prev_btn" type="button" class="btn btn-primary pull-left">Previo</button>
          <!-- <button id="" type="button" class="btn btn-primary pull-right">Next</button> -->
          <button id="submit" type="submit" class="btn btn-primary pull-right">Enviar</button>
        </div>

      </form>
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="{% static 'src/js/registration.js' %}"></script>
      <script src="{% static 'src/js/address.js' %}"></script>
    </div>
  </div>
{% endblock %}
