{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="animated fadeIn">
        <div class="card">
            <div class="card-header">
                <h2>Buscar Consultor</h2>
            </div>
            <div class="card-body">
                <form action="" method="GET">
                    {{ forms }}
                    <input type="submit" value="search">
                </form>
            </div>
        </div>
    </div>
    {% if consultor %}
    <div class="animated fadeIn">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-edit"></i> Tabla de Consultores
                <div class="card-header-actions">
                    <a class="card-header-action" href="https://datatables.net" target="_blank">
                        <small class="text-muted">docs</small>
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_length" id="DataTables_Table_0_length">
                                <label>Mostrar
                                    <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="custom-select custom-select-sm form-control form-control-sm">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select> Entradas</label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                <form action="" method="GET">
                                    {% csrf_token %}
                                  <label>Search:
                                      <!-- <input type="search" class="form-control form-control-sm" placeholder="" aria-controls="DataTables_Table_0"> -->
                                      {{ search.numero_registro }}
                                  </label>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-striped table-bordered datatable dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="border-collapse: collapse !important">
                                <thead>
                                    <tr role="row">
                                        <th>Id</th>
                                        <th>Nombre</th>
                                        <th>No Reg</th>
                                        <th>Proyecto</th>
                                        <th>Estado</th>
                                        <th>Fecha</th>
                                        <th>Comportamiento/Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for consultor in consultor %}
                                      <tr role="row" class="odd">
                                          <td>{{ forloop.counter }}</td>
                                          <td>{{ student.personal_info.nombre }}</td>
                                          <td>{{ student.numero_registro }}</td>
                                          <td>{{ student.informacion_proyecto }}</td>
                                          <td>{{ student.estado }}</td>
                                          <td>{{ student.date }}</td>
                                          <td>
                                              <a class="btn btn-success" href="{% url 'consultor-profile' consultor.numero_registro %}">
                                                  <i class="fa fa-search-plus"></i>
                                              </a>
                                              <a class="btn btn-info" href="{% url 'consultor-edit' consultor.numero_registro %}">
                                                  <i class="fa fa-edit"></i>
                                              </a>
                                              <a class="btn btn-danger" href="{% url 'consultor-delete' consultor.numero_registro %}">
                                                  <i class="fa fa-trash-o"></i>
                                              </a>
                                          </td>
                                      </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Mostrando 1 a 10 de 32 entradas</div>
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">Previo</a></li>
                                    <li class="paginate_button page-item active"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                    <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                                    <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
                                    <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="4" tabindex="0" class="page-link">4</a></li>
                                    <li class="paginate_button page-item next" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="5" tabindex="0" class="page-link">Siguiente</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
