{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <h2>Consultor  Inscrito o asignado aquí!</h2>
    <form action="" method="GET">
        {{ forms }}
        <input type="submit" value="Go">
    </form>
    {% if consultor %}
    <div class="animated fadeIn">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-edit"></i> Tabla de consultores
            </div>
            <div class="card-body">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-striped table-bordered datatable dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="border-collapse: collapse !important">
                                <thead>
                                    <tr role="row">
                                        <th>Id</th>
                                        <th>Nombre</th>
                                        <th>No Reg.</th>
                                        <th>Proyecto</th>
                                        <th>Estado</th>
                                        <th>Fecha</th>
                                        <th>Comportamiento</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for consultor in consultor %}
                                      <tr role="row" class="odd">
                                          <td>{{ forloop.counter }}</td>
                                          <td>{{ consultor.personal_info.nombre }}</td>
                                          <td>{{ consultor.numero_registro }}</td>
                                          <td>{{ consultor.proyecto_info }}</td>
                                          <td>{{ consultor.estado }}</td>
                                          <td>{{ consultor.date }}</td>
                                          <td>
                                              <a class="btn btn-success" href="{% url 'consultor-profile' consultor.numero_registro %}">
                                                  <i class="fa fa-search-plus"></i>
                                              </a>
                                              <a class="btn btn-success" href="{% url 'enrolled' consultor.numero_registro %}">Registrar</a>
                                          </td>
                                      </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static 'src/js/enroll.js' %}"></script>
    {% endif %}
{% endblock %}