{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <div class="row">
                <img style="height:200px; width:200px; border-radius:50%; margin:auto" src="{{ profile.photo.url }}" alt="Photo">
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <h2 class="mx-auto">Bienvenido {{ request.user }}</h2>
            </div>
            <hr>
            <div class="row">
                <div style="font-size:24px; margin-left: 30px">
                    <pre>Nombre: {{ perfil.nombre }}</pre>
                    <pre>Género: {{ perfil.genero|title }}</pre>
                    <pre>Tipo de empleado: {{ perfil.tipo_empleado|title }}</pre>
                </div>
            </div>
        </div>
    </div>
{% endblock %}