{% extends 'base/base.html' %}
{% block content %}
  <div class="card">
    <div class="card-header"> Formulario para registrar Proyecto</div>
    <div class="card-body">
      <form class="" action="" method="post">
        {% csrf_token %}
        {{ forms.as_p }}
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </div>
  </div>
{% endblock %}
