{% extends 'base/base.html' %}
{% block content %}
  <div class="card">
      <div class="card-header">
          <i class="fa fa-align-justify"></i>Lista de Proyectos
    </div>
    {% if registrar_proyecto %}
      <div class="card-body">
          <table class="table table-responsive-sm">
              <thead>
                  <tr>
                      <th>Id</th>
                      <th>Nombre Proyecto</th>
                      <th>Proyecto</th>
                      <th>Section</th>
                      <th>Session</th>
                      <th>Cambio</th>
                      <th>Departmento</th>
                      <th>Guia de Gerente </th>
                      <th>Registrar Fecha</th>
                  </tr>
              </thead>
              <tbody>
                  {% for cls in registrar_proyecto %}
                    <tr>
                        <td>{{ cls.id }}</td>
                        <td>{{ cls.nombre }}</td>
                        <td>{{ cls.nombre_proyecto }}</td>
                        <td>{{ cls.seccion }}</td>
                        <td>{{ cls.sesion }}</td>
                        <td>{{ cls.cambio }}</td>
                        <td>{{ cls.department }}</td>
                        <td>{{ cls.guia_gerente }}</td>
                        <td>{{ cls.date }}</td>
                    </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
      {% else %}
      <div class="card-body">
          <h3>Registrar #No de Proyecto</h3>
      </div>
      {% endif %}
  </div>
{% endblock %}
