{% extends 'base/base.html' %}
{% load static %}

{% block content %}
  <div class="card">
    <div class="card-header">Formulario de registro de Gerentes</div>
    <div class="card-body">
      <form action="" method="post" enctype="multipart/form-data" id="TeacherRegistrationForm" data-loacion-url={% url 'cargar-locacion' %}>

        <div class="card">
          <div class="card-header">Información personal</div>
          <div class="card-body">
            {% csrf_token %}
            {{ form.as_p }}
          </div>
        </div>

        <div class="card">
          <div class="card-header">Datos del Domicilio</div>
          <div class="card-body">
            {% csrf_token %}
            {{ formulario_direccion.as_p }}
          </div>
        </div>

        <div class="card">
          <div class="card-header">Información sobre Educación/Formación Academica</div>
          <div class="card-body">
            {% csrf_token %}
            {{ formulario_educacion.as_p }}
          </div>
        </div>

        <div class="card">
          <div class="card-header">Información de entrenamiento</div>
          <div class="card-body">
            {% csrf_token %}
            {{ formulario_entrenamiento.as_p }}
          </div>
        </div>

        <div class="card">
          <div class="card-header">Informacion del trabajo</div>
          <div class="card-body">
            {% csrf_token %}
            {{ formulario_trabajo.as_p }}
          </div>
        </div>

        <div class="card">
          <div class="card-header">Información de la experiencia</div>
          <div class="card-body">
            {% csrf_token %}
            {{ formulario_experiencia.as_p }}
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script>
        $("#id_zona").change(function () {
          var url = $("#TeacherRegistrationForm").attr("data-loacion-url");
          var zonaId = $(this).val();

          $.ajax({
            url: url,
            data: {
              'zona': zonaId
            },
            success: function (data) {
              $("#id_locacion").html(data);
            }
          });

        });
        $("#id_locacion").change(function () {
          var url = $("#TeacherRegistrationForm").attr("data-loacion-url");
          
          var locacionId = $(this).val();

          $.ajax({
            url: url,
            data: {
              'locacion': locacionId
            },
            success: function (data) {
              $("#id_anexo").html(data);
            }
          });

        });
      </script>
    </div>
  </div>
{% endblock %}
