{% extends 'base/base.html' %}
{% load static %}
{% block content %}
  <div class="card">
    <div class="card-header">
      <div class="row">
        <img style="height:200px; width:200px; border-radius:50%; margin:auto" src="{{ gerente.photo.url }}" alt="Photo">
      </div>
    </div>
    <div class="card-body">

      <div class="personal_information">
        <div class="row">
          <h2 class="mx-auto">Información Personal</h2>
        </div>
        <hr>
        <div class="row">
          <div style="font-size:24px; margin-left: 30px">
            <pre>Nombre                             : {{ gerente.nombre }}</pre>
            <pre>Fecha de nacimiento                : {{ gerente.fecha_nac }}</pre>
            <pre>Lugar de nacimiento                : {{ gerente.lugar_nac }}</pre>
            <pre>Nacionalidad                       : {{ gerente.nacionalidad }}</pre>
            <pre>Religion                           : {{ gerente.religion }}</pre>
            <pre>Género                             : {{ gerente.genero }}</pre>
            <pre>Grupo sanguíneo                    : {{ gerente.grupo_sanguineo }}</pre>
            <pre>E-TIN                              : {{ gerente.e_tin }}</pre>
            <pre>Número de identificación nacional  : {{ gerente.nid }}</pre>
            <pre>Permiso de conducir/Pasaporte      : {{ gerente.licencia_manejo_pasaporte }}</pre>
            <pre>Número de Telefono                 : {{ gerente.numero_teleono }}</pre>
            <pre>Email                              : {{ gerente.email }}</pre>
            <pre>nombre_padre                       : {{ gerente.nombre_padre }}</pre>
            <pre>nombre_madre                       : {{ gerente.nombre_madre }}</pre>
            <pre>Estado Marital                     : {{ gerente.estado_marital }}</pre>
            <pre>Dirección                          : {{ gerente.direccion }}</pre>
            <pre>Educación                          : {{ gerente.educacion }}</pre>
            <pre>Capacitacion                       : {{ gerente.capacitacion }}</pre>
            <pre>Trabajo                            : {{ gerente.trabajo }}</pre>
            <pre>Expriencia                         : {{ gerente.experiencia }}</pre>
          </div>
        </div>
      </div>

      <div class="address_information">
        <div class="row">
          <h2 class="mx-auto">Datos del Domicilio</h2>
        </div>
        <hr>
        <div class="row">
          <div style="font-size:24px; margin-left: 30px">
            <pre>Zona     : {{ gerente.direccion.zona }}</pre>
            <pre>Locacion : {{ gerente.direccion.locaion }}</pre>
            <pre>Anexo    : {{ gerente.direccion.anexo }}</pre>
            <pre>CP       : {{ gerente.direccion.cp }}</pre>
          </div>
        </div>
      </div>

      <div class="address_information">
        <div class="row">
          <h2 class="mx-auto">Información sobre Educación</h2>
        </div>
        <hr>
        <div class="row">
          <div style="font-size:24px; margin-left: 30px">
            <pre>Nombre de Evaluación     : {{ gerente.educacion.nombre_de_evaluacion }}</pre>
            <pre>Instituto                : {{ gerente.educacion.instituto }}</pre>
            <pre>Grupo                    : {{ gerente.educacion.grupo }}</pre>
            <pre>Grado                    : {{ gerente.educacion.grado }}</pre>
            <pre>Consejo                  : {{ gerente.educacion.consejo }}</pre>
            <pre>periodo de aprobacion    : {{ gerente.educacion.periodo_de_aprobacion }}</pre>
          </div>
        </div>
      </div>

      <div class="emergency_contact_information">
        <div class="row">
          <h2 class="mx-auto">Información de entrenamiento</h2>
        </div>
        <hr>
        <div class="row">
          <div style="font-size:24px; margin-left: 30px">
            <pre>Nombre de Entrenamiento  : {{ gerente.capacitacion.nombre_entrenamiento }}</pre>
            <pre>Año                      : {{ gerente.capacitacion.year }}</pre>
            <pre>Duracion                 : {{ gerente.capacitacion.duracion }}</pre>
            <pre>Lugar                    : {{ gerente.capacitacion.lugar }}</pre>
          </div>
        </div>
      </div>

      <div class="emergency_contact_information">
        <div class="row">
          <h2 class="mx-auto">Informacion del trabajo</h2>
        </div>
        <hr>
        <div class="row">
          <div style="font-size:24px; margin-left: 30px">
            <pre>Categoría                      : {{ gerente.trabajo.categoria }}</pre>
            <pre>Día de ingreso                 : {{ gerente.trabajo.dia_de_ingreso }}</pre>
            <pre>Nombre instituto               : {{ gerente.trabajo.nombre_instituto }}</pre>
            <pre>Designacion de trabajo         : {{ gerente.trabajo.designacion_de_trabajo }}</pre>
            <pre>Departmento                    : {{ gerente.trabajo.departmento }}</pre>
            <pre>Escale                         : {{ gerente.trabajo.escala }}</pre>
            <pre>Grado Publicación              : {{ gerente.trabajo.grado_publicacion }}</pre>
            <pre>Primer Periodo de Contrato     : {{ gerente.trabajo.primer_periodo_de_contrato }}</pre>
            <pre>Promocion de Vencimiento       : {{ gerente.trabajo.promocion_de_vencimiento }}</pre>
            <pre>Renovacion Contrato            : {{ gerente.trabajo.renovacion_contrato }}</pre>
            <pre>Tiempo Jubilacion              : {{ gerente.trabajo.tiempo_jubilacion }}</pre>
          </div>
        </div>
      </div>

      <div class="previous_academic_information">
        <div class="row">
          <h2 class="mx-auto">Información de la experiencia</h2>
        </div>
        <hr>
        <div class="row">
          <div style="font-size:24px; margin-left: 30px">
            <pre>Nombre Instituto : {{ gerente.experiencia.nombre_instituto }}</pre>
            <pre>Designación      : {{ gerente.experiencia.designation }}</pre>
            <pre>Entrenador       : {{ gerente.experiencia.entrenador }}</pre>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
